# Core data + ML
pandas==2.2.3
numpy==2.2.6
scikit-learn==1.6.1
joblib==1.4.2
pyyaml==6.0.2

# Experiment tracking
mlflow==3.1.1

# API + validation
fastapi==0.115.12
uvicorn==0.34.2
pydantic==2.11.5
python-dotenv==1.0.1

# HTTP client
openai==1.84.0
requests==2.32.3

# Testing
pytest==8.3.5
